:root {
  --Primary: #5964E0;
  --Secondary: #939BF4;
  --Dark100: #19202D;
  --Dark200: #121721;
  --Light100: #FFFFFF;
  --Light200: #F4F6F8;
  --Neutral100: #9DAEC2;
  --Neutral200: #6E8098;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

html, body, #root {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.hidden {
  display: none;
}